@model IEnumerable<CompaniesAndProducts.Models.Company>

@{
    ViewBag.Title = "Список компаний";
}

<h2>Список компаний</h2>

<p>
    @Html.ActionLink("Добавить новую компанию", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <br/>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.CompanyKey }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.CompanyKey }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.CompanyKey })
        </td>
    </tr>
}

</table>
