@model IEnumerable<CompaniesAndProducts.Models.Product>

@{
    ViewBag.Title = "Продукты";
}

<h2>Список продуктов</h2>

<p>
    @Html.ActionLink("Добавить новый продукт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comission)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comission)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ProductKey }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.ProductKey }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ProductKey })
        </td>
    </tr>
}

</table>
